body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  padding: 0 1rem 1rem;
  text-align: center;
}

#app {
  width: 100%;
  display: flex;
  flex: 1;
}
